
@tailwind utilities;

@layer utilities {
  @keyframes scanner-line {
    0% {
      top: 0;
    }
    50% {
      top: 100%;
    }
    50.1% {
      top: 0;
    }
    100% {
      top: 100%;
    }
  }
  
  .animate-scanner-line {
    position: absolute;
    animation: scanner-line 3s linear infinite;
  }
}
