
/* Mobile Styles */
.rtl {
  direction: rtl;
}

/* Barcode Scanner Styles */
.barcode-scanner-active {
  height: 100vh;
  overflow: hidden;
  background: transparent !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.barcode-scanner-active > * {
  display: none !important;
}

.barcode-scanner-active ion-app {
  background: transparent !important;
}
